body{
    padding:50px;
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
}
/* #k1{
    font-size: 40px;
    position: relative;
    bottom: 30px;
    display: flex;
    justify-content: center;

}
#k2{
    display: flex;
    justify-content: center;
    width: 360px;
    height: 45px;
    border-radius:25px ;
    position: relative;
    top: 5px;
    left: 4.5%;
}
.pk{
    position: relative;
    top: 50px;
} */